body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff9ef;
  scroll-behavior: smooth;
  cursor: default;

  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  z-index: 0;
}

code {
  font-family: "Poppins", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

/* Import Poppins font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* ---------------- Author:- Armaan Singh --------------------------------*/

/* ----------------- Membership Card css --------------------------- */

.membershipCards {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-content: center;
  margin-top: 5.5rem;
  transform: translateY(0);
  /* Initial transform value */
  transition: all 0.6s ease;
}

.membership_card {
  /* min-height: 30vh; */
  background-color: #ffffff;
  padding: 2%;
  margin: 1rem;
  border-radius: 0.8rem;
  border: 1px solid #ffffff;
  box-shadow: 2px 4px 10px #99886b66;
  overflow-y: hidden;
  /* width: 100%; */
  transition: box-shadow 0.3s ease;
  scale: 1;
}

.membership_card:hover .membership_card_counts {
  box-shadow: none;
}

.membership_card_warrenty {
  box-shadow: 0px 0px 5px #0f351d;
}

.membership_card_platinum {
  box-shadow: 0px 0px 5px #ff7f00;
}

.membership_card_gold {
  box-shadow: 0px 0px 5px #ff7f00;
}

.membership_card_silver {
  box-shadow: 0px 0px 5px #b7b7b7;
}

.membership_card_warrenty_hover:hover {
  box-shadow: 0px 0px 5px #0f351d;
}

.membership_card_platinum_hover:hover {
  box-shadow: 0px 0px 5px #ff7f00;
}

.membership_card_gold_hover:hover {
  box-shadow: 0px 0px 5px #f8ac1d;
}

.membership_card_silver_hover:hover {
  box-shadow: 0px 0px 5px #b7b7b7;
}

.membership_card_warrenty_shadow:hover {
  box-shadow: 0px 0px 5px #0f351d;
  scale: 0.99;
}

.membership_card_platinum_shadow:hover {
  box-shadow: 0px 0px 5px #ff7f00;
  scale: 0.99;
}

.membership_card_gold_shadow:hover {
  box-shadow: 0px 0px 5px #f8ac1d;
  scale: 0.99;
}

.membership_card_silver_shadow:hover {
  box-shadow: 0px 0px 5px #b7b7b7;
  scale: 0.99;
}

.membership_card_topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 1%;
}

/* .membership_card_topbar_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  } */

.membership_card_title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: larger;
}

.membership_card_title_warrenty {
  color: #0f351d;
}

.membership_card_title_platinum {
  color: #ff7f00;
}

.membership_card_title_gold {
  color: #f8ac1d;
}

.membership_card_title_silver {
  color: #8e8e8e;
}

.membership_card_revenue {
  text-transform: uppercase;
  color: #444444;
  font-weight: 500;
  font-size: 0.9rem;
}

.membership_card_counts {
  color: #ffffff;
  /* padding: 1.5% 2.2%; */
  width: 2.7rem;
  height: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  box-shadow: inset 1px 2px 3px #00000029;
  border-radius: 50%;
}

.membership_card_counts_expand {
  width: 1.7rem;
  height: 1.9rem;
}

.membership_card_counts_expanded {
  box-shadow: none;
}

.membership_card_counts_warrenty {
  background-color: #0f351d;
}

.membership_card_counts_platinum {
  background-color: #ff7f00;
}

.membership_card_counts_gold {
  background-color: #f8ac1d;
}

.membership_card_counts_silver {
  background-color: #b7b7b7;
}

.membership_card_stats {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1.5%;
  font-size: medium;
  font-weight: 500;
  color: #444444;
}

.membership_card_expiring {
  width: 47%;
  height: 17rem;
}

.membership_card_expiring_expanded {
  width: 30%;
  height: 17rem;
}

.membership_card_expiring-title {
  display: flex;
  justify-content: space-between;
  font-size: medium;
  color: #444444;
}

.membership_card_expired-title {
  color: #c10000;
}

.membership_card_scrollable {
  overflow-y: auto;
  margin-top: 5%;
}

.membership_card_scrollable::-webkit-scrollbar {
  margin-top: 1rem;
  width: 2px;
  border-radius: 20px;
}

.membership_card_scrollable::-webkit-scrollbar:hover {
  display: block;
}

.membership_card_scrollable::-webkit-scrollbar-track {
  background: 0;
  margin-top: 12px;
  margin-bottom: 5px;
}

.membership_card_scrollable::-webkit-scrollbar-thumb {
  transition: background-color 0.3s ease;
  border: 1px solid #ffffff;
}

.membership_card_scrollable:hover::-webkit-scrollbar-thumb {
  background: 0;
  margin-top: 7px;
  margin-bottom: 5px;
  display: block;
}

.membership_card_scrollable_warrenty:hover::-webkit-scrollbar-thumb {
  background-color: #0f351d;
  border: 1px solid #0f351d;
}

.membership_card_scrollable_platinum:hover::-webkit-scrollbar-thumb {
  background-color: #ff7f00;
  border: 1px solid #ff7f00;
}

.membership_card_scrollable_gold:hover::-webkit-scrollbar-thumb {
  background-color: #f8ac1d;
  border: 1px solid #f8ac1d;
}

.membership_card_scrollable_silver:hover::-webkit-scrollbar-thumb {
  background-color: #b7b7b7;
  border: 1px solid #b7b7b7;
}

.membership_card_scrollable_expired:hover::-webkit-scrollbar-thumb {
  background-color: #c10000;
  border: 1px solid #c10000;
}

.membership_card_data_expire {
  margin: 0.6rem 0.4rem 0rem 0.4rem;
  border-radius: 0.6rem;
  padding: 2%;
  position: relative;
}

.membership_card_data_display_expired_border {
  border: 1px solid #c10000;
}

.membership_card_data_display_expiring_border {
  border: 1px solid #0f351d;
}

.membership_card_data_display_expiring_border_platinum {
  border: 1px solid #ff7f00;
}

.membership_card_data_display_expiring_border_gold {
  border: 1px solid #f8ac1d;
}

.membership_card_data_display_expiring_border_silver {
  border: 1px solid #b7b7b7;
}

.membership_card_data_display {
  display: flex;
  justify-content: space-evenly;
  color: #444444;
}

.membership_card_data_display_hover {
  display: none;
  cursor: pointer;
}

.membership_card_data_expire:hover .membership_card_data_display_hover {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #fffdf8;
  border-radius: 0.5rem;
}

.membership_card_data_display_expiring {
  background-color: #0f351d;
}

.membership_card_data_display_expiring_platinum {
  background-color: #ff7f00;
}

.membership_card_data_display_expiring_gold {
  background-color: #f8ac1d;
}

.membership_card_data_display_expiring_silver {
  background-color: #b7b7b7;
}

.membership_card_data_display_expired {
  background-color: #c10000;
}

.membership_card_data_jon {
  align-items: center;
  border-right: 1px solid #e5e5e5;
  width: 30%;
}

.membership_card_data_info {
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  font-size: large;
  /* width: 70%; */
}

.membership_card_data_jon_title {
  font-weight: 700;
  font-size: 1rem;
}

.membership_card_data_jon_title_warrenty {
  color: #0f351d;
}

.membership_card_data_jon_title_platinum {
  color: #ff7f00;
}

.membership_card_data_jon_title_gold {
  color: #f8ac1d;
}

.membership_card_data_jon_title_silver {
  color: #8e8e8e;
}

.membership_card_data_jon_title_expiry {
  color: #c10000;
}

.membership_card_data_address {
  font-size: 0.7rem;
}

/* <-------------------------------media query for membership card ---------------------------------------> */
@media (max-width: 1920px) {
  .membership_card_scrollable {
    height: 15rem;
  }

  .membership_card_scrollable_expanded {
    height: 39rem;
  }

  .membership_card_data_display {
    gap: 4%;
  }
}

@media (max-width: 1710px) {
  .membership_card_data_jon {
    padding-left: 2%;
  }

  .membership_card_data_info {
    font-size: small;
  }

  .membership_card_data_address {
    font-size: xx-small;
  }
}

/* <-------------------------------media query for membership card ends-----------------------------------> */

/* <------------------------------ membership card expanding css --------------------------------------->*/

.membershipCards_expand {
  display: grid;
  grid-template-columns: 77% 20%;
  gap: 2%;
  align-items: center;
}

.membership_card_expand {
  margin: 0rem;
  grid-column: span 1;
  grid-row: span 4;
  height: 48rem;
  transition: border 1s ease;
}

.animation {
  animation: expandAnimation 2s ease-in-out forwards;
}

.animationExpand {
  animation: expandAnimationExpansion 0.6s ease-in-out forwards;
}

@keyframes expandAnimation {
  from {
    transform: translateY(3rem);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes expandAnimationExpansion {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

.membership_card_counts_expand {
  color: #ffffff;
  padding: 1% 1.5%;
  border-radius: 50%;
}

.after_expansion_labels {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  font-size: smaller;
  color: #444444;
}

.after_expansion_labels_expired {
  color: #c10000;
}

.membership_card_topbar_non_expand {
  padding-bottom: 3%;
}

.membership_card_expand_non:hover {
  transform: translateX(-5%);
  transition: all 0.3s ease;
}

.membership_card_topbar_expand {
  border: none;
}

/* ---------------------total revenue css  ----------------------------------- */

.total_revenue_outer {
  border: 1px solid #ffffff;
  color: #444444;
}

.total_revenue_outer_border {
  border: 1px solid #444444;
}

.total_revenue_outer_shadow {
  box-shadow: 0px 0px 5px #444444;
}

.total_revenue {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.total_revenue_heading {
  font-size: larger;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  text-align: center;
  padding-bottom: 5%;
}

.total_revenue_amount {
  margin-top: 5%;
  font-size: xx-large;
}

/* ---------------------total revenue css ends ----------------------------------- */

/* <------------------------------ membership card expanding css ends --------------------------------------->*/

/* <------------------------------ membership card expanded css start ---------------------------------------->*/

.expandedMembershipheading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  /* gap: 5%; */
}

.headingCenter {
  border-bottom: 2px solid #e5e5e5;
  display: flex;
  justify-content: center;
  gap: 01rem;
  align-items: center;
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding-bottom: 0.7rem;
}

/* --------------------------------------------- client details css -------------------------------------------- */

.clientsContainer {
  display: flex;
  justify-content: space-between;
  width: 70%;
  gap: 10%;
  margin-right: 3rem;
}

.clients {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  height: 40rem;
  width: 100%;

}

.clientDetailContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  width: 100%;
  color: #444444;
  margin-top: 2rem;
}

.clientName {
  font-size: large;
  font-weight: 600;
  text-transform: uppercase;
}

.clientDetail {
  margin-top: 0.8rem;
}

.historyContainer{
  height: 20rem;
  overflow-y: scroll;
  padding-right: 0.5rem;
}

.historyContainer::-webkit-scrollbar {
  margin-top: 1rem;
  width: 2px;
  border-radius: 20px;
}

.historyContainer::-webkit-scrollbar:hover {
  display: block;
}

.historyContainer::-webkit-scrollbar-track {
  background: 0;
  margin-top: 12px;
  margin-bottom: 5px;
}

.historyContainer::-webkit-scrollbar-thumb {
  transition: background-color 0.3s ease;
  border: 1px solid #0f351d;
}

.historyContainer:hover::-webkit-scrollbar-thumb {
  background: 0;
  margin-top: 7px;
  margin-bottom: 5px;
  display: block;
}


.history {
  font-size: 0.8rem;
  margin-top: 0.9rem;
  border: 1px solid #ff7f00;
  border-radius: 0.3rem;
}

.historyNumber {
  padding: 0.3rem;
  background-color: #ff7f001a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.historyClings {
  display: flex;
  flex-direction: column;
}

.historyDetails {
  display: grid;
  padding: 0.3rem;
  gap: 1rem;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.ratingStar {
  /* margin-top: 12px; */
  color: #f8ac1d;
}

.callsContainer {
  height: 25rem;
  overflow-y: scroll;
  padding-right: 0.5rem;
}

/* .callsContainer::-webkit-scrollbar {
  margin-top: 1rem;
  width: 2px;
  border-radius: 20px;
  display: none;
}

.callsContainer::-webkit-scrollbar:hover {
  display: block;
}

.callsContainer::-webkit-scrollbar-track {
  background: 0;
  margin-top: 12px;
  margin-bottom: 5px;
}

.callsContainer::-webkit-scrollbar-thumb {
  transition: background-color 0.3s ease;
  border: 1px solid #0f351d;
  transition: background-color 0.3s ease;
}

.callsContainer:hover::-webkit-scrollbar-thumb {
  background: 0;
  margin-top: 7px;
  margin-bottom: 5px;
  display: block;
} */

.callsContainer::-webkit-scrollbar {
  margin-top: 1rem;
  width: 2px;
  border-radius: 20px;
}

.callsContainer::-webkit-scrollbar:hover {
  display: block;
}

.callsContainer::-webkit-scrollbar-track {
  background: 0;
  margin-top: 12px;
  margin-bottom: 5px;
}

.callsContainer::-webkit-scrollbar-thumb {
  transition: background-color 0.3s ease;
  border: 1px solid #0f351d;
}

.callsContainer:hover::-webkit-scrollbar-thumb {
  background: 0;
  margin-top: 7px;
  margin-bottom: 5px;
  display: block;
}

.clientDetailCalls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  font-size: 0.9rem;
  margin-top: 0.9rem;
  line-height: 2rem;
  border-radius: 0.3rem;
  padding: 0.7%;
  border: 1px solid #444444;
}

.clientCallInfo {
  width: 100%;
  border-bottom: 1px solid #444444;
}

.clientNumber {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.callButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.callButton {
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  cursor: pointer;
}

.callNowButton {
  border: 1px solid #0f351d;
  background-color: #0f351d;
  color: #fff9ef;
}

.callNowButtonExpired{
  border: 1px solid #c10000;
  background-color: #c10000;
  color: #fff9ef;
}

.addCallButton {
  color: #0f351d;
  background-color: #ffffff;
  border: 1px solid #0f351d;
}


.offerButton {
  background-color: #ffffff;
  border: 1px solid #0f351d;
  color: #0f351d;
  font-weight: 600;
  border-radius: 0.5rem;
}

.offerButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.6rem;
}

.offer {
  width: 100%;
  padding: 0.2rem 0rem;
  cursor: pointer;
}

.offer:hover {
  background-color: #0f351d;
  color: #fff9ef;
}

.offerButtonMain {
  cursor: pointer;
  width: 100%;
  padding: 0.6rem 0%;
  transition: all 0.6 ease;
}

.offerButtonMain:hover {
  background-color: #0f351d;
  color: #fff9ef;
}

.offerButtonMainSelected {
  background-color: #0f351d;
  color: #fff9ef;
}

.NotificationContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin-top: 1rem;
}

.inputNotification {
  padding: 1rem;
  height: auto;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border: 1px solid #0f351d;
  margin-top: 1rem;
}

.chevronDownMembership {
  position: absolute;
  top: 62%;
  left: 11rem;
  transform: translateY(-55%);
  cursor: pointer;
}

.notificationOptions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.options {
  background-color: #fff9ef;
  border: 1px solid #0f351d;
  border-radius: 0.5rem;
  width: 100%;
}

.option {
  border-bottom: 1px solid #0f351d;
  padding: 0.5rem 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
  z-index: 9
}

.option:last-child {
  border: none;
}

.sendButton {
  padding: 0.844rem 2rem;
  border: 1px solid #0f351d;
  border-bottom-right-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  border-left: none;
  margin-top: 1rem;
  cursor: pointer;
  background-color: #ffffff;
  color: #0f351d;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------------------------- client details css ends --------------------------------------- */

/* <------------------------------ membership card expanded css ends ---------------------------------------->*/

/* ---------------- Author:- Armaan Singh --------------------------------*/