* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.EngeeniersCardF {
    min-height: 87vh;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'SingleEng EngeeniersChat';




}

.SingleEng {
    grid-area: SingleEng;
    position: relative;
}

.SubSingleEng {
    /* margin-top: .4rem; */
    margin-bottom: 1.2rem;
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    grid-template-rows: 1fr .5fr 6fr;
    grid-row-gap: .3rem;
    padding: 1rem 1rem;
}

.PDetails {
    /* background-color: #00000029; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
    width: 100%;


}

.Pimg {
    width: 34%;
    height: 70%;
    ;
    display: flex;
    margin-top: 1rem;
    position: relative;
    background-color: transparent;
    border: 1px solid #707070;
    border-radius: 10px;
}

.ODetailsColumn {
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: end;
    border-bottom: 2px solid #5353533b;
    border-radius: 2px;
}

.ODetails {
    position: relative;
}

.EngeeniersCardT {
    min-height: 87vh;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'EngeeniersSubCard';


}

/* 
.EngeeniersCardD {
    min-height: 87vh;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: grid;
    grid-template-columns:2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'SingleEng EngeeniersChat';
   

    
} */


.EngeeniersSubCard {
    grid-area: EngeeniersSubCard;
}


.AllCardsF {
    max-height: 83vh;
    overflow-y: auto;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 4rem;
    grid-column-gap: 7rem;
    padding: 2rem 4rem;
}

.AllCardsT {
    max-height: 83vh;
    overflow-y: auto;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 4rem;
    grid-column-gap: 7rem;
    padding: 2rem 4rem;
}


.EngeeniersChatF {

    border-radius: 1.2rem;
    padding: 1rem 2rem 2rem 2rem;
    position: relative;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;



}


.EngeeniersChatT {
    grid-area: EngeeniersChat;
    border-radius: 1.2rem;
    padding: 1rem 2rem 2rem 2rem;
    position: relative;
    margin-top: 1.2rem;
    display: none;
    margin-bottom: 1.2rem;



}

.AllCardsF::-webkit-scrollbar-track {
    border-radius: 10px;

}

.AllCardsF::-webkit-scrollbar {
    width: 5px;

}

.AllCardsF::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFFFFF;

}




.AllCardsF:hover::-webkit-scrollbar-thumb {
    background-color: #F8AC1D;
}



.AllCardsT::-webkit-scrollbar-track {
    border-radius: 10px;

}

.AllCardsT::-webkit-scrollbar {
    width: 5px;

}

.AllCardsT::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFFFFF;

}




.AllCardsT:hover::-webkit-scrollbar-thumb {
    background-color: #F8AC1D;
}




.EngCards {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 2px 4px 10px 1px #00000029;
    min-height: 25vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: .4rem;
}


.EngCardDetails {
    display: flex;
    width: 90%;
    justify-content: space-between;
    position: relative;
    height: 50%;


}

.EngCardDetailsL {
    display: flex;
    margin-top: 1rem;
    width: 30%;
    position: relative;
    background-color: transparent;
    border: 1px solid #707070;
    border-radius: 10px;
}


.EngCardRText {
    display: flex;
    width: 10vw;
    justify-content: center;
    align-items: center;


}


.EngCardDetailsR {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.table-container {
    margin-top: 1.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .1rem;
    font-family: "Noto Sans KR", sans-serif;
    width: 60%;
    position: relative;
    text-align: start;
    height: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    position: relative;

}

.table-item {
    font-weight: 600;
    color: #343434;
    border-bottom: 2px solid transparent;
    font-size: .9rem;
    word-wrap: break-word;
    overflow-wrap: break-word;

}


.table-container>.table-item:nth-child(even) {
    font-size: 0.8rem;
    color: #444444;
    font-weight: 490;
    font-family: 'Poppins';
    line-height: 1.3rem;

}

.table-container>.table-item:nth-child(odd) {
    font-size: 0.8rem;
    color: #444444;
    font-weight: 400;
    font-family: 'Poppins';
    line-height: 1.3rem;

}

.EngCardCash {
    height: 4vh;
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    align-items: center;
    background-color: #FFF9EF;
    box-shadow: inset 1px 2px 3px 1px #00000029;
    border-radius: 5px;
}

.EngCardCash h5 {
    text-wrap: nowrap;
    display: flex;
    gap: .5rem;
    text-align: start;
    font-size: 0.8rem;
    color: #444444;
    font-weight: 400;
    font-family: 'Poppins';
    line-height: 1.3rem;
}

.EngCardCash h5 span {
    font-size: 0.8rem;
    color: #444444;
    font-weight: 490;
    font-family: 'Poppins';
    line-height: 1.3rem;

}

.HoriZontalLine {
    height: 60%;
    border-radius: 1px;
    width: 1px;
    background-color: #7070704D;
}

.AHoriZontalLine {
    height: 80%;
}

/* .EngCardMessage{
    height:5vh;
    width: 100%;
    margin-top: 1rem;
    bottom: -20%;
    position: relative;
    background-color: red;
} */





.EngChatNav {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.VerticalLine {
    height: 2%;
    width: 25%;
    background-color: #7070704D;

}

.EngChatNavText {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.EngChatNavText h5 {
    text-wrap: nowrap;
    font-size: 1.1rem;
    font-size: 0.8rem;
    color: #444444;
    font-weight: 500;
    font-family: 'Poppins';
    line-height: 1.3rem;

}

.EngChatBox {
    height: 98%;
    width: 100%;
    background-color: #FFFBF4;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px #00000029;
    position: relative;
}

.EngChatBoxHead {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: .8rem;
}

.EngChatBoxIcons {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: .4rem;
}

.EngChatBox h6 {
    text-wrap: nowrap;
    font-size: 1.1rem;
    font-size: 0.8rem;
    color: #444444;
    font-weight: 500;
    font-family: 'Poppins';
    line-height: 1.3rem;
}

.EngChatMsg {
    height: 100%;
    width: 100%;
    position: relative;
}


.PDetails h1 {
    font-size: 0.8rem;
    color: #444444;
    font-weight: 400;
    font-family: 'Poppins';
    line-height: 1.3rem;
    display: flex;
    gap: .5rem;

}




.PDetails h1 span {
    font-size: 0.8rem;
    color: #444444;
    font-weight: 490;
    font-family: 'Poppins';
    line-height: 1.3rem;
}


.SubPDetails {
    display: flex;
    width: 24%;
    height: 100%;
    justify-content: space-around;
    align-items: center;

}

.Icon_Color {
    color: #F8AC1D;
}

.ODetailsColumn h5 {
    text-align: left;
    /* font: normal normal medium 18px/27px Poppins; */
    font-family: 'Poppins';
    font-weight: 500;
    margin-bottom: .3rem;
    letter-spacing: 0px;
    color: #444444;
    font-size: .9rem;
    cursor: pointer;
}



/* .calendar{
    background-color: red;
} */

.TaskHistory {
    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    /* background-color: yellow; */
}

.TaskHeading {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.AllTask {
    border-top: 2px solid #5353533b;
    min-height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: .3rem;
    overflow-y: auto;





}


.Services {
    margin-top: 1rem;
    padding: .9rem;
    width: 100%;
    height: 100%;
    position: relative;
}

.ServicContainer {
    height: 60vh;
    margin-top: 1rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.AllServices {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1rem;

    padding: 1rem;



}


.ServiceCards {
    border-radius: 10px;
    height: 13vh;
    background-color: #FFFBF4;
    box-shadow: 1px 2px 5px #00000029;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .2rem;
}




table {
    margin-top: .8rem;
    margin-left: .8rem;
    width: 95%;
    border-collapse: collapse;

}

th,
td {

    font-size: 0.8rem;
    color: #444444;
    font-weight: 400;
    font-family: 'Poppins';
    line-height: .9rem;
    padding: .2rem;

}

th {
    color: #fff;
    font-weight: bold;
}

.service-table-item {

    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 0.8rem;
    color: #444444;
    font-weight: 400;
    font-family: 'Poppins';
    line-height: .9rem;

}


tr>td:nth-child(2) {
    font-size: 0.8rem;
    color: #444444;
    font-weight: 490;
    font-family: 'Poppins';
    line-height: .9rem;
}

.ServiceCardsBottom {
    width: 100%;
    height: 20%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;



}

.ServiceCardsBottom>h5:nth-child(1) {
    font-family: ' Poppins';
    font-size: .9rem;
    font-weight: 700;
    color: #389300;

}

.ServiceCardsBottom>h5:nth-child(2) {
    font-family: ' Poppins';
    font-size: .9rem;
    font-weight: 700;
    color: #F8AC1D;
    ;

}

.star {
    width: 22%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #F8AC1D;
    border-radius: 4px;
    padding: .1rem;
    margin-bottom: .3rem;

}

.star h5 {
    font-size: .8rem;
    font-family: ' Poppins';
    letter-spacing: 0px;
    color: #444444;
    text-align: left;
    font-weight: 600;
}

.small-Icon {
    font-size: .8rem;
}


.Yello_Scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;

}

.Yello_Scrollbar::-webkit-scrollbar {
    width: 5px;

}

.Yello_Scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFFFFF;

}




.Yello_Scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #F8AC1D;
}

.DateHeading {
    border-bottom: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Attendancecalendar {
    margin-top: .8rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    position: relative;
    z-index: 1;
    display: block;
    min-height: 20%;
    background-color: red;
    background-color: #FFFBF4;
    
    

}

.Attendance {
    height: 100%;
    width: 100%;
    position: relative;

}

.Attendacne-header {
    background-color: #FFFBF4;
    border-bottom: none;
    padding: 1rem;
 
}

#monthYear{
    font-size:.8rem;
}


#aprevBtn, #anextBtn {
    background: none;
    border: none;
    color: #343434;
    cursor: pointer;
  font-size: .6rem;
  }
  
.aday {
    padding: .2rem;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.7rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
   padding-top: .5rem;
   

}


.aday:hover {

    background-color: #FEF3DE;
    color: #F8AC1D;
    border-radius: 50px;

}

.adays {
    display: grid;
    grid-template-columns: repeat(7, 9%);
    grid-column-gap: 1rem;
    padding: 1rem 1rem;
    height: 70%;
    position: relative;
   

   
}

.ui-datepicker-prev {
    order: 1
}

.aday.current {
    /* background-color: #FEF3DE; */
    color: #F8AC1D;
    border-radius: 50%;
}



.aday.current:hover {
    /* background-color: white; */
    background-color: transparent;
    box-shadow: none;
}

/* .ui-datepicker-next{
    order: 3} */
.aday.selected {
    background: #F8AC1D;
    border-radius: 50px;
    box-shadow: inset 1px 2px 3px #00000080;
    color: black;
}


.days-header {
    /* display: flex; */
    /* justify-content: space-around; */

    font-weight: bold;
    width: 100%;
   padding-left: 1.2rem;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(7, 9%);
    grid-column-gap: .9rem;
    font-size: .7rem;
    font-weight: 500;
    top: -2%;


}

.DatesContainer {
    display: grid;
    grid-template-rows: repeat(5, 17%);
    height: 60%;
    width: 30%;
    grid-row-gap: 1rem;
    padding: 1rem 0rem;
 
}

.DatesCard {
    background-color: #FFFFFF;
    box-shadow: 1px 2px 5px #00000029;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: .2rem; */
    
}

.DateCardData{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    border-radius: 5px;
}

.DateCardData h5{
    font-family: 'Poppins';
    font-weight: 500;
}

.DateCardData>h5:nth-child(2){
    font-weight: 400;
    font-size: .5rem;
}

.DateCardData:nth-child(1){
height: fit-content;
background-color:#FEF3DE;
box-shadow: inset 1px 2px 3px #99886B66;
width: 20%;
height: 90%;
}