.EngeeniersCard{
min-height: 90vh;
width: 100%;
/* background-color:#FFFFFF;
background-color: red; */
background-color: #FFFFFF;
border-radius: 20px;
display: grid;
grid-template-columns: 2fr 1fr;
grid-template-rows: 1fr;
grid-template-areas: 'EngeeniersSubCard EngeeniersChat';
}


.EngeeniersSubCard{

     grid-area: EngeeniersSubCard;
    border-radius: 0.4rem;
    padding: 1rem; 
    display: grid;
    grid-template-columns: 1fr 1fr;
   grid-gap: 20px;
    
 



}

.cards{
    height: 100px;
    background-color: red;
    grid-area: cards;
}

.EngeeniersChat{

    grid-area: EngeeniersChat;
    border-radius: 1.2rem;
    padding: 1.2rem;
}



